@page "/Company/CompanyIndex"
@inject NavigationManager NavigationManager

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sport Quest Tracker</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Your gadgets</a></li>
            <li><a href="#">Your points</a></li>
            <li><a href="#">Transactions</a></li>
            <li @onclick="LogOut">Log out</li>
        </ul>
    </div>
</nav>





@code {

    public void LogOut()
    {
        NavigationManager.NavigateTo("/CompanyLogin");
    }

}
