@*@page "/CompanyLogin"
@inject NavigationManager NavigationManager


@code {

    public void LogIn()
    {
        //routing after Log In
    }

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SportQuestTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
</head>

<nav class="navbar-expand-lg bg-info border border-bottom border-dark">
    <a class="navbar-brand h1" style="font-family: 'Ranchers', cursive; margin-left: 20vw; font-size: 2rem;">Sport Quest Tracker</a>

    <form class="form-inline justify-content-end" style="margin-right: 10vw">
        <input class="form-control mr-sm-2" type="email" placeholder="e-mail" aria-label="Email">
        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Password">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Sign in</button>
    </form>
</nav>

<div class="container-fluid align-content-center">

    <div class="row" style="margin: 170px ">
        <div class="col-sm-6">
            <img src="Images/pngwing.com.png" class="m-auto pt-0 d-flex" alt="MultiSport image here" />
        </div>

        <div class="col-sm-6">

            <form method="post">
                <div class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Company name" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Password" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>

</div>*@
