@page "/CompanyView/Gadgets"
@page "/companygadgets"
@using SportQuestTracker_UI.Data.Models.ClassModels


<h3>Gadgets</h3>

<Navbar></Navbar>

<EditForm Model="@typeof(Gadget)" OnvalidSubmit="AddGadget">

</EditForm>


@code {  

    public List<Gadget> gadgets = new List<Gadget>();

    public Gadget newGadget { get; set; }

    private void AddGadget()
    {
        gadgets.Add(newGadget);
        newGadget = new Gadget();
    }

}
