@page "/CompanyView/Index"

@using SportQuestTracker_UI.Data.Models.ClassModels
@using SportQuestTracker_UI.Data.Services
@using static SportQuestTracker_UI.Pages.CompanyView.Navbar

@inject NavigationManager NavigationManager
@inject ICompanyService ICompanyService


<Navbar> NAVBAR</Navbar>

<h1> Lalala</h1>



@code {

    private void LogOut()
    {
        NavigationManager.NavigateTo("/CompanyView/Login");
    }

}
