
@inject NavigationManager NavigationManager


<h3>Navbar</h3>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sport Quest Tracker</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/companygadgets">Your gadgets</a></li>
            <li><a href="/companypoints">Your points</a></li>
            <li><a href="/Transactions">Transactions</a></li>
            <li @onclick="LogOut">Log out</li>
        </ul>
    </div>
</nav>

@code {
    private void LogOut()
    {
        NavigationManager.NavigateTo("/Company/CompanyLogin");
    }
}
