@page "/"
@using SportQuestTracker.Models.ClassModels

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SportQuestTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
</head>
    

<body>
<div class="container-fluid align-content-center">
    <div class="row" style="margin: 10px">
        <div class="col-sm-6" style="margin-top:10vh">
            <img src="Images/pngwing.com.png" class="m-auto pt-0 d-flex" alt="MultiSport image here"/>
        </div>
        <div class="col-sm-6">
            <EditForm Model="User">
                <div class="container">

                    <div class="container-fluid">
                        <div class="row" @*style="margin-top: 10vh"*@>
                            <div class="col-lg-8">
                                <h3 style="text-align: center">Registration</h3>
                                @*<div class="container">
                                <a class="btn btn-light btn-block text-center" href="#" role="button">Users</a>
                                <a class="btn btn-primary btn-block text-center" href="/CompanyLogin" role="button">Company</a>
                            </div>*@
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center active btn btn-outline-success">
                                            User
                                        </div>
                                        <a href="/CompanyLogin" role="button" class="col-6 text-center btn btn-outline-danger">
                                            <div>
                                                Company
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <form>
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Surname</label>
                                        <input type="text" class="form-control" id="Surname" placeholder="Surname">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword">Password</label>
                                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword2">Password</label>
                                        <input type="password" class="form-control" id="InputPassword2" placeholder="Repeat password">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="e-mail"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone number</label>
                                        <input type="number" class="form-control" id="phone" aria-describedby="phone" placeholder="Phone number"/>
                                    </div>


                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Accept rules</label>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg btn-block">Register</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </EditForm>
            </div>
        </div>
</div>
</body>

@code
{
    public User User { get; set; }

    protected override void OnInitialized()
    {
        User = new User();
    }
}

