@using SportQuestTrackerUI.Models
@using SportQuestTrackerUI.Contracts


@inject IAuthenticationRepository _authRepo
@inject NavigationManager _navManager


    <nav id="LoginNavigation" class="navbar @NavColor fixed-top display-flex border border-bottom border-dark">
        <a class="navbar-brand h1" style="font-family: 'Ranchers', cursive; margin-left: 20vw; font-size: 2rem;">Sport Quest Tracker</a>

        <div class="form-inline justify-content-end" style="margin-right: 10vw">
            <AuthorizeView>
                <Authorized>
                    <p>@context.User.Identity.Name</p>
                </Authorized>

            </AuthorizeView>
        </div>
    </nav>


@code {
    [Parameter]
    public bool IsUser { get; set; }
    public string NavColor { get; set; }
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
    private LoginModel Model1 = new LoginModel();
    private bool response = true;
    private async Task HandleLogin()
    {
        response = await _authRepo.Login(Model1);

        if (response)
        {
            _navManager.NavigateTo("/");
        }

    }

}
