@using SportQuestTrackerUI.Models
@using SportQuestTrackerUI.Contracts
@using SportQuestTrackerAPI.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions



@{
    NavColor = IsUser ? "navbar navbar-dark bg-dark" : "navbar navbar-dark bg-primary";

}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<nav id="LoginNavigation" class="navbar @NavColor fixed-top display-flex border border-bottom border-dark">
    <a class="navbar-brand h1" style="font-family: 'Indie Flower', cursive; margin-left: 2vw; font-size: 3rem; color: white;"><b>Sport Quest Tracker</b></a>
    @*<nav id="LoginNavigation" class="@NavColor fixed-top display-flex border border-bottom border-dark">

        <a class="navbar-brand h1" style="font-family: 'Indie Flower', cursive; margin: 2vw 0 2vw 0; font-size: 2rem; color: white;">Sport Quest Tracker</a>*@

    <div class="form-inline justify-content-end" style="margin-right: 2vw">
        <AuthorizeView>
            <Authorized>
                @{
                    Regex rgx = new Regex("[^a-zA-Z0-9 -]");
                    string[] userInfo = context.User.Identity.Name.Split(',');
                    string fullName = userInfo[1] + " " + userInfo[2];
                    string coins = userInfo[3];
                    coins = rgx.Replace(coins, "");
                    string points = userInfo[4];
                    points = rgx.Replace(points, "");
                    fullName = rgx.Replace(fullName, "");
                }
                <div class="text-white align-baseline">@fullName</div>

                <div class="nav-item">
                    <a class="nav-link text-white font-weight-bolder " href="#">You have: @coins / @points [coins/points]</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-white font-weight-bolder text" href="#">Log out</a>
                </div>
            </Authorized>
        </AuthorizeView>

    </div>
</nav>



@code {

    [Parameter]
    public bool IsUser { get; set; } = true;
    public string NavColor { get; set; }
    private int UserCoins { get; set; } = 100;
    private string Details { get; set; }

  
    //protected override async Task OnInitializedAsync()
    //{
    //    var user = 
    //}
}

@*<style>

    .btn btn-primary btn-block {
        margin: 10px;
    }
</style>*@