@page
@model SportQuestTracker.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Street" class="control-label"></label>
                <input asp-for="User.Street" class="form-control" />
                <span asp-validation-for="User.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ParcelNumber" class="control-label"></label>
                <input asp-for="User.ParcelNumber" class="form-control" />
                <span asp-validation-for="User.ParcelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.HouseNumber" class="control-label"></label>
                <input asp-for="User.HouseNumber" class="form-control" />
                <span asp-validation-for="User.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Points" class="control-label"></label>
                <input asp-for="User.Points" class="form-control" />
                <span asp-validation-for="User.Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Coins" class="control-label"></label>
                <input asp-for="User.Coins" class="form-control" />
                <span asp-validation-for="User.Coins" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.Admin" /> @Html.DisplayNameFor(model => model.User.Admin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.CompanyId" class="control-label"></label>
                <select asp-for="User.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="User.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
