@page "/calculator"
@inject IJSRuntime JsRuntime
@using SportQuestTrackerUI.Pages.ViewUtils.UserUtils



<NavBar></NavBar>
<body>
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">


                        <img src="images/calculator/running.svg" alt="running" />

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <img src="images/calculator/bench-press.svg" alt="bench-press" />


                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <img src="images/calculator/cycling.svg" alt="cycling" />

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <img src="images/calculator/gym.svg" alt="gym" />

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <img src="images/calculator/heart-rate.svg" alt="heart-rate" />

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <img src="images/calculator/swimming.svg" alt="swimming" />

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a href="#">Learn More</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>



<style>
    body{
        background: #eee;
        display: flex;
        justify-content: center;
    }
    span{
        font-size:15px;
    }
    img{
        width: 100px;
        height: 100px;
    }
    a{
        text-decoration:none; 
        color: #0062cc;
        /*        border-bottom:2px solid #0062cc;*/
    }
    .box{
        padding:60px 0px;
    }

    .box-part{
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
    }
    .text{
        margin:20px 0px;
    }

    .fa{
        color:#4183D7;
    }
</style>


@code
{
    public bool IsUser = true;

    async Task ShowResult()
    {
        await JsRuntime.InvokeVoidAsync("ShowResult");
    }
}

