@page "/calculator"
@inject IJSRuntime JsRuntime
@using SportQuestTrackerUI.Pages.ViewUtils.UserUtils



<NavBar></NavBar>

<body>
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded ">

                        <img src="images/calculator/running.svg" alt="running" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories from last run</a></div>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded">

                        <img src="images/calculator/bench-press.svg" alt="bench-press" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories from weightlifting</a>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded">

                        <img src="images/calculator/cycling.svg" alt="cycling" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories from <br />cycling<br /></a>
                        </div>


                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded">

                        <img src="images/calculator/swimming.svg" alt="swimming" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories from swimming</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded">

                        <img src="images/calculator/gym.svg" alt="gym" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories from exercises</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center rounded shadow-sm p-3 mb-5 bg-white rounded">
                         
                        <img src="images/calculator/heart-rate.svg" alt="heart-rate" />

                        <div class="text">
                            <a href="/RunCalc" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Calculate calories <br /> by heart rate<br /></a>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</body>



<style>
    body{
        background: #eee;
        display: flex;
        justify-content: center;
    }
    span{
        font-size:15px;
    }
    img{
        width: 100px;
        height: 100px;
    }
    a{
        text-decoration:none; 
        color: #0062cc;
        /* border:2px solid #0062cc; */
    }
    .box{
        padding:60px 0px;
    }

    .box-part{
        background:#FFF;
        border-radius:3px;
        padding:60px 10px;
        margin:30px 0px;
    }

    .box-part:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        background-color: #e6f4ff;
    }
    .text{
        margin:20px 0px;
    }

    .fa{
        color:#4183D7;
    }
</style>


@code
{
    public bool IsUser = true;

    async Task ShowResult()
    {
        await JsRuntime.InvokeVoidAsync("ShowResult");
    }
}

