@page "/RunCalc"
@using SportQuestTrackerUI.Pages.ViewUtils.UserUtils

<h3></h3>


<NavBar isUser></NavBar>

<div class="container">
    <div class="calories">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Calories per hour</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Running 10kph</td>
                    <td>350 kcal</td>

                </tr>
                <tr>
                    <td>Running 11kph</td>
                    <td>470 kcal</td>
                </tr>
                <tr>

                    <td>Weightlifting</td>
                    <td>330 kcal</td>

                </tr>
                <tr>
                    <td>Swimming</td>
                    <td>420 kcal</td>

                </tr>
                <tr>

                    <td>Cycling 18 kph</td>
                    <td>270 kcal</td>

                </tr>
                <tr>
                    <td>Cycling 21 kph</td>
                    <td>330 kcal</td>

                </tr>
                <tr>
                    <td>Cycling 24 kph</td>
                    <td>460 kcal</td>

                </tr>
                <tr>
                    <td>Cardio exercises</td>
                    <td>300 kcal</td>

                </tr>
            </tbody>
        </table>
    </div>


    <form class="calculator">
        <div class="form-group">
            <label for="UserText"><strong><h3>Calculate your last activity</h3></strong></label><br/>
                <input type="text" class="form-control" id="UserText" placeholder="Write a title for your exercise">
            </div>
            <div class="form-group">
                <label for="ActivityType">Select activity</label><br/>
                <select class="form-control" id="ActivityType" placeholder="activity">
                    <option>Cardio exercises</option>
                    <option>Cycling 18 kph</option>
                    <option>Cycling 21 kph</option>
                    <option>Cycling 24 kph</option>
                    <option>Weightlifting</option>
                    <option>Swimming</option>
                    <option>Running 10 kph</option>
                    <option>Running 11 kph</option>
                    <option>Running 12 kph</option>
                </select>
            </div><br/>
            <label for="ActiviyMinutes">Choose how long your activity lasted in minutes</label><br />
            <span class="zip">
                <p id="text1" style="display:inline-block">1 min</p>
                <input type="range" class="custom-range" min="0" max="480" step="5" id="ActiviyMinutes">
                <p id="text2" style="display:inline-block">480 min</p>
            </span><br />
            <button type="button" class="btn btn-outline-dark">Calculate</button>
    </form>

</div>

<style>

    .container {
        margin: 15vh 10vw 15vh 10vw;
        display: inline-flex;
    }

    .calories {
        
        border-color: black;
        margin-right: 10vh;

    }

    .calculator {
        padding: 2%;
        border-style:groove;
        box-shadow:sandybrown;
        
    }
    .custom-range {
        width: 60%;
    }

    .zip {
        display: inline;
    }

</style>

@code {


}
