@page "/RunCalc"
@using SportQuestTrackerUI.Pages.ViewUtils.UserUtils

<h3>**Main temporary site to calculate activities**</h3>


<NavBar isUser></NavBar>

<div class="container-fluid">

    <div class="d-lg-inline-flex border-info">
        <table class="table table-dark m-auto w-75 p-3">
            <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Calories per hour</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Running 10kph</td>
                <td>350 kcal</td>

            </tr>
            <tr>
                <td>Running 11kph</td>
                <td>470 kcal</td>
            </tr>
            <tr>

                <td>Weightlifting</td>
                <td>330 kcal</td>

            </tr>
            <tr>
                <td>Swimming</td>
                <td>420 kcal</td>

            </tr>
            <tr>

                <td>Cycling 18 kph</td>
                <td>270 kcal</td>

            </tr>
            <tr>
                <td>Cycling 21 kph</td>
                <td>330 kcal</td>

            </tr>
            <tr>
                <td>Cycling 24 kph</td>
                <td>460 kcal</td>

            </tr>
            <tr>
                <td>Cardio exercises</td>
                <td>300 kcal</td>

            </tr>
            </tbody>
        </table>
    </div>


    <form class="w-35 p-3 d-lg-inline-flex">
        <div class="form-group">
            <label for="UserText"><strong>Calculate your last activity</strong></label>
            <input type="text" class="form-control" id="UserText" placeholder="Write a title for your exercise">
        </div>
        <div class="form-group">
            <label for="ActivityType">Select activity</label>
            <select class="form-control" id="ActivityType" placeholder="activity">
                <option>Cardio exercises</option>
                <option>Cycling 18 kph</option>
                <option>Cycling 21 kph</option>
                <option>Cycling 24 kph</option>
                <option>Weightlifting</option>
                <option>Swimming</option>
                <option>Running 10 kph</option>
                <option>Running 11 kph</option>
                <option>Running 12 kph</option>
            </select>
        </div>
        <label for="ActiviyMinutes">Choose how long your activity lasted in minutes</label>
        <input type="range" class="custom-range" min="0" max="480" step="5" id="ActiviyMinutes">

        <button type="button" class="btn btn-outline-dark">Calculate</button>
    </form>

</div>

<style>
    form {
        border: 5px;
        float: left;
        width: 45vh;
        display: inline-block;
    }

    table {
        float: left;
        width: 45vh;
        display: inline-block;
    }
    .container-fluid {
        margin-top: 10vh;
        
    }
</style>

@code {


}
